@{
  Layout="Shared/_Layout.cshtml";
}

<p>Enter a word and a sentence, the program will determine how many times the word is in the sentence.</p>

<form action="/" method="post">
  <label for="word">Enter a word:</label>
  <input type="text" name="word" id="word">
  <label for="sentence">Enter a Sentence:</label>
  <input type="text" name="sentence" id="sentence">
</form>
